* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    max-width: 1920px;
}


header {
    display: flex;
    justify-content: space-around;
    background-color: #ff6900;
    padding: 1rem;
}

header img {
    width: 9rem;
}

ul {
    list-style: none;
    display: flex;
}

section.prodotti {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 3rem 15rem;
}

article {
    width: calc((100% / 3) - 1.5rem);
    padding-bottom: 5rem;
    border: .5rem solid black;
}

article img {
    width: 100%;
    object-fit: cover;
    height: 100%
}