* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    max-width: 1920px;
    font-family: sans-serif;
}

.nav-disp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 16rem;
    color: white;
}

header {
    background-color: #ff6900;

}

header img {
    width: 9rem;
}

ul {
    list-style: none;
    display: flex;
}

li {
    font-size: 1rem;
    font-weight: 700;
    padding-right: .5rem;
}

section.prodotti {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3rem 16rem;
}

article {
    width: calc((100% / 3) - 1.5rem);
    padding-bottom: 3rem;
    position: relative;
}

article img {
    width: 100%;
    object-fit: cover;
    height: 100%
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

article .fav {
    position: absolute;
    top: 10px;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    font-size: 2.2rem;
}

article .discount {
    position: absolute;
    bottom: 145px;
    left: 0;
    height: 25px;
    width: 50px;
    background-color: #ff0000;
    color: white;
    font-size: .9rem;
    font-weight: 600;
}

article .sost {
    position: absolute;
    bottom: 145px;
    left: 55px;
    height: 25px;
    width: 105px;
    background-color: #008000;
    color: white;
    font-size: .9rem;
    font-weight: 600;
}

#last-art {
    left: 0;
}

article .prezzo {
    font-size: .9rem;
}

article .model {
    font-size: 1rem;
    font-weight: bold;
}

article span {
    text-decoration: line-through;
}

article strong {
    color: red;
}

footer {
    background-color: #1a1a1a;
}

h2 {
    padding: 1rem 0 .5rem 0;
    font-weight: 700;
}

footer .title-right {
    font-size: .9rem;
}

footer .title-left {
    font-size: 1.2rem;
}

footer li {
    font-size: .9rem;
    padding-bottom: 1rem;
    font-weight: normal;
}

footer i {
    font-size: 1.3rem;
    padding-right: .2rem;
}